* {
  margin: 0; padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
}
li {list-style: none;}
a {color: #333; text-decoration: none;}

.login_box {
  width: 460px; height: 480px;
  margin: 0 auto;
}
.login {
  width: 300px; height: 500px;
  padding: 50px 0;
  box-sizing: border-box;
  margin: 0 auto;
}
.title {
  font-size: 32px;
  margin-bottom: 60px;
}

#user_id, #user_pw {
  width: 300px; height: 50px;
  font-size: 16px;
  padding-left: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.find li {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #333;
  box-sizing: border-box;
}
.find li:last-child {
  border-right: 0;
}

.btn {
  width: 300px; height: 50px;
  background-color: #ffd140;
  outline: none;
  font-size: 20px;
  border: none;
  margin-top: 50px;
  cursor: pointer;
}